button{
    background-color: white;
    animation: button 2s  backwards 4s ;
    animation-iteration-count: 4;
    
}
button:hover{
    background-color: green;
    transition: all 5s;
   transform-origin: left;
   
}
@keyframes button  {

    0%{ transform: translateY(100px);}

    50%{transform: translateX(200px);}

    100%{transform: translateX(100px);}
    
}